<h4>products works!</h4>

<P>first value = {{value1}}</P>
<P>first value = {{value2}}</P>
<em>result is {{result}}</em>

 <p *ngIf="true"><span>{{randomText}}</span></p>

 <p *ngFor="let product of products">
    <span>{{product.name}} and {{product.value}}</span>
</p>

<!-- received name from app component -->
<h5>{{name}}</h5>

<!-- property binding -->
<h2 [style.color]="pink">this is prop binding</h2>

<!-- event binding -->
<button (click)="showImageToggle()">{{imageToggle ? 'hide iamge' : 'show image'}}</button>

<div *ngIf="imageToggle" style="margin-top: 10px;">
   <img [src]="myPath" alt="image" height="100px" width="100px">
</div>

<!-- two way binding --ngModel -->
<h4>calculator</h4>
<p>Enter the first value</p>
<input type="text" [(ngModel)]="firstValue">
<br>
<p>Enter the second value</p>
<input type="text" [(ngModel)]="secondValue">

<br>

<button (click)="performCalculation()">result is: {{output}}</button>

<!--  built-in pipe -->
<p>{{1 | currency:'USD':'symbol':'1.2-2'}}</p>